* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* FONTS */
    --logo-font: Poppins;
    --logo-font-color1: white;
    --logo-font-color2: gray;
    --logo-font-size: 1.5rem;
    --menu-font: Poppins;
    --menu-font-color: white;
    --menu-font-size: 3.5rem;
    --claim-font: Poppins;
    --claim-font-color: white;
    --claim-font-size: 1.5rem;
    --area-text-font: Poppins;
    --area-text-font-color: black;
    --area-text-font-size: .8rem;
    --client-comment-font: Poppins;
    --client-comment-font-color: white;
    --client-comment-font-size: 1.5rem;
    --client-comment-font-style: italic;
    --client-name-font-size: 1.2rem;
    --footer-font: Poppins;
    --footer-font-size: 1rem;
    --footer-font-color: white;

    /* NAVBAR */
    --navbar-bg-color: black;
    --navbar-padding: 8px;

    /* SYMBOL */
    --quad-size: 15px;

    /* MENU BUTTON */
    --menu-button-container-width: 100%;
    --bar-color: white;
    --bar-width: 50px;
    --bar-height: 5px;
    --bar-space: 7px;

    /* MENU */
    --menu-bg-color: black;
    --menu-padding: 0 0 0 10%;

    /* MAIN CONTAINER */
    --main-container-padding: 55px 20px 0px 20px;
    --claim-container-flex-dir: column;
    --claim-container-margin-bottom: 10%;
    --claim-text-width: 100%;
    --claim-video-width: 100%;
    --claim-text-flex-justify: center;
    --claim-text-align: center;
    --claim-text-padding: 0 0 0 0;
    --claim-text-margin-bottom: 5%;
    --area-container-flex-dir: column;
    --area-container-margin-bottom: 8%;
    --area-text-width: 100%;
    --area-text-height: 100%;
    --area-text-padding: 5%;
    --area-text-bg-color: white;
    --area-text-border-radius: 25px 25px 0 0;
    --area-text-text-align: justify;
    --area-content-border-radius: 0 0 25px 25px;
    --area-empty-display: none;
    --area-client-comment-padding: 2%;

    /* FOOTER */
    --footer-flex-dir: column;
    --footer-margin-top: 0%;
    --footer-height: 450px;
    --footer-bg-color: black;
    --footer-padding: 2%;
}

body {
    width: 100%;
    height: 100%;
    background: #141414;
}

/* NAVBAR */
#navbar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: var(--navbar-padding);
    background: var(--navbar-bg-color);
    /* border: 1px solid red; */
}

.navbar-item {
    display: flex;
    align-items: center;
    color: var(--logo-font-color1);
    font-size: var(--logo-font-size);
    font-family: var(--logo-font);
    /* border: 1px solid violet; */
}

.logo-color2 {
    color: var(--logo-font-color2);
}

/* SYMBOL */
.symbol-container {
    display: flex;
    flex-wrap: wrap;
    min-width: var(--quad-size);
    height: var(--quad-size);
    /* border: 1px solid yellow; */
}

.quad {
    width: 50%;
    height: 50%;
}

.quad1 {
    background: var(--logo-font-color1);
}

.quad2 {
    background: var(--logo-font-color2);
}

.quad-empty {
    opacity: 0;
}

#logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    /* border: 1px solid yellow; */
}

/* MENU BUTTON */
#menu-button-container {
    display: flex;
    justify-content: flex-end;
    width: var(--menu-button-container-width);
    /* border: 1px solid violet; */
    z-index: 1000;
}

#menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar1, .bar2, .bar3 {
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--bar-color);
    margin-bottom: var(--bar-space);
    transition: .4s;
}

.change .bar1 {
    transform: translate(0, 12px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -12px) rotate(45deg);
}

/* MENU */
#menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: var(--menu-bg-color);
    padding: var(--menu-padding);
    transition: .4s;
    opacity: 0;
    /* border: 1px solid green; */
}

.menu-visible {
    opacity: 1 !important;
}

#menu-container a {
    text-decoration: none;
    color: var(--menu-font-color);
    font-family: var(--menu-font);
    font-size: var(--menu-font-size);
}

/* MAIN CONTAINER */
#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: var(--main-container-padding);
    /* border: 1px solid green; */
}

#claim-container {
    display: flex;
    align-items: center;
    flex-direction: var(--claim-container-flex-dir);
    width: 100%;
    margin-bottom: var(--claim-container-margin-bottom);
    /* border: 1px solid red; */
}

#claim-text {
    display: flex;
    justify-content: var(--claim-text-flex-justify);
    width: var(--claim-text-width);
    text-align: var(--claim-text-align);
    font-family: var(--claim-font);
    font-size: var(--claim-font-size);
    color: var(--claim-font-color);
    text-decoration: underline;
    padding: var(--claim-text-padding);
    margin-bottom: var(--claim-text-margin-bottom);
}

#claim-video {
    display: flex;
    width: var(--claim-video-width);
    background: black;
    border-radius: 25px;
    overflow: hidden;
    /* border: 1px solid red; */
}

/* AREA */
.area-container {
    display: flex;
    flex-direction: var(--area-container-flex-dir);
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: var(--area-container-margin-bottom);
    /* border: 1px solid yellow; */
}

.area-text {
    width: var(--area-text-width);
    height: var(--area-text-height);
    background: var(--area-text-bg-color);
    padding: var(--area-text-padding);
    font-family: var(--area-text-font);
    font-size: var(--area-text-font-size);
    text-align: var(--area-text-text-align);
    color: var(--area-text-font-color);
    border-radius: var(--area-text-border-radius);
    overflow: hidden;
}

.area-content {
    width: var(--area-text-width);
    height: var(--area-text-height);
    background: black;
    border-radius: var(--area-content-border-radius);
    overflow: hidden;
    /* border: 1px solid red; */
}

.area-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.area-empty {
    display: var(--area-empty-display);
    width: var(--area-text-width);
    /* border: 1px solid red; */
}

.area-client-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: var(--area-client-comment-padding);
    font-family: var(--client-comment-font);
    color: var(--client-comment-font-color);
    font-style: var(--client-comment-font-style);
    font-size: var(--client-comment-font-size);
    /* border: 1px solid yellow; */
}

.client-name {
    font-size: var(--client-name-font-size);
}

/* FOOTER */
#footer {
    display: flex;
    flex-direction: var(--footer-flex-dir);
    width: 100%;
    height: var(--footer-height);
    background: var(--footer-bg-color);
    margin-top: var(--footer-margin-top);
}

.footer-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: var(--footer-font);
    font-size: var(--footer-font-size);
    color: var(--footer-font-color);
    padding: var(--footer-padding);
    text-align: justify;
}

.footer-item a {
    color: var(--footer-font-color);
}

.footer-item img {
    width: 100%;
}

/* TEXT ANIMATION */
.animated-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: center;
    /* border: 1px solid yellow; */
}

.sentence {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: 20%;
    font-family: var(--area-text-font);
    color: white;
    z-index: -1;
    /* border: 1px solid red; */
}

.letter {
    font-size: 1.8rem;
    /* border: 1px solid yellow; */
}

.letter-big {
    font-size: 3rem;
}
.startOpacity {
    opacity: 0;
}

.anim {
    animation: txtAnim 0.3s forwards;
}

@keyframes txtAnim {
    0% {
        opacity: 0;
        /* transform: translateY(20px); */
        transform: rotateY(180deg);
    }

    100% {
        opacity: 1;
        /* transform: translateY(0px); */
        transform: rotateY(0deg);
    }
}

/* TYPEWRITER TEXT ANIMATION */
.typewriter-text-container {
    width: 100%;
    color: white;
    font-family: Poppins;
    font-size: 1.7rem;
    text-align: end;
    z-index: -1;
    padding: 20% 7% 0 7%;
    /* border: 1px solid red; */
}

.typewriter-letter {
    opacity: 0;
}

@keyframes typewriterAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@font-face {
    font-family: Chillen;
    src: url('fonts/Chillen.ttf');
}

@font-face {
    font-family: Poppins;
    src: url('fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-VariableFont_wdth\,wght.ttf');
}

/* DESKTOP */
@media (min-width: 1281px) {
    :root {
        --menu-font-size: 8rem;
        --navbar-padding: 30px;
        --logo-font-size: 3rem;
        --menu-padding: 0 0 0 15%;
        --quad-size: 35px;
        --main-container-padding: 150px 250px 0px 250px;
        --claim-container-flex-dir: column;
        --claim-container-margin-bottom: 5%;
        --claim-text-padding: 1%;
        --claim-text-margin-bottom: 1%;
        --claim-font-size: 5rem;
        --claim-video-width: 100%;

        --area-container-flex-dir: row;
        --area-container-margin-bottom: 0%;
        --area-text-width: 50%;
        --area-text-height: 500px;
        --area-text-border-radius: 25px 0 0 0;
        --area-text-font-size: 1.2rem;
        --area-content-border-radius: 0 0 25px 0;
        --area-empty-display: flex;

        --footer-flex-dir: row;
        --footer-margin-top: 5%;
    }
}